In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../glass.csv')

In [3]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [4]:
from sklearn.utils import shuffle

df_shuffled = shuffle(df,random_state=42)

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_features = scaler.fit_transform(df_shuffled)

In [7]:
labels_df = pd.DataFrame()

In [8]:
from sklearn.cluster import KMeans
for i in range(100):
    model = KMeans(n_clusters=2)
    model.fit(scaled_features) # fit model
    labels = model.labels_ # get predicted labels
    labels_df['Model_{}_Labels'.format(i+1)] = labels # put the labels into the empty df

In [9]:
labels_df

,Model_1_Labels,Model_2_Labels,Model_3_Labels,Model_4_Labels,Model_5_Labels,Model_6_Labels,Model_7_Labels,Model_8_Labels,Model_9_Labels,Model_10_Labels,...,Model_91_Labels,Model_92_Labels,Model_93_Labels,Model_94_Labels,Model_95_Labels,Model_96_Labels,Model_97_Labels,Model_98_Labels,Model_99_Labels,Model_100_Labels
0,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
1,0,0,0,1,0,1,1,1,1,1,...,0,1,0,0,1,1,1,1,0,1
2,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
3,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
4,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
214,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
215,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0
216,0,0,0,1,0,1,1,1,1,1,...,0,1,0,0,1,1,1,1,0,1
217,1,1,1,0,1,0,0,0,0,0,...,1,0,1,1,0,0,0,0,1,0

In [10]:
row_mode = labels_df.mode(axis=1)

In [11]:
labels_df['row_mode'] = row_mode

In [12]:
labels_df

,Model_1_Labels,Model_2_Labels,Model_3_Labels,Model_4_Labels,Model_5_Labels,Model_6_Labels,Model_7_Labels,Model_8_Labels,Model_9_Labels,Model_10_Labels,...,Model_92_Labels,Model_93_Labels,Model_94_Labels,Model_95_Labels,Model_96_Labels,Model_97_Labels,Model_98_Labels,Model_99_Labels,Model_100_Labels,row_mode
0,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
1,0,0,0,1,0,1,1,1,1,1,...,1,0,0,1,1,1,1,0,1,1
2,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
3,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
4,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
214,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
215,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
216,0,0,0,1,0,1,1,1,1,1,...,1,0,0,1,1,1,1,0,1,1
217,1,1,1,0,1,0,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0