In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../weather.csv')

In [2]:
df_dummies = pd.get_dummies(df, drop_first=True)

In [3]:
from sklearn.utils import shuffle

df_shuffled = shuffle(df_dummies, random_state= 42)

In [4]:
DV = 'Rain'
X = df_shuffled.drop(DV, axis=1)
y = df_shuffled[DV]

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33)

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Exercise29

In [7]:
grid = {'C': np.linspace(1, 10, 10),'kernel': ['linear', 'poly', 'rbf', 'sigmoid']}

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

model = GridSearchCV(SVC(gamma='auto'),grid,scoring='f1',cv=5)

In [9]:
model.fit(X_train_scaled,y_train)

GridSearchCV(cv=5, estimator=SVC(gamma='auto'),
             param_grid={'C': array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.]),
                         'kernel': ['linear', 'poly', 'rbf', 'sigmoid']},
             scoring='f1')

In [10]:
best_parameters = model.best_params_
print(best_parameters)

{'C': 1.0, 'kernel': 'linear'}

In [11]:
from sklearn.metrics import confusion_matrix

prediction = model.predict(X_test)
cm = pd.DataFrame(confusion_matrix(y_test,prediction))
cm['Total'] = np.sum(cm,axis=1)
cm.append(np.sum(cm,axis=0), ignore_index=True)

     0     1  Total
0  368     4    372
1  352  2576   2928
2  720  2580   3300

In [12]:
cm

     0     1  Total
0  368     4    372
1  352  2576   2928

In [13]:
from sklearn.metrics import classification_report
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.51      0.99      0.67       372
           1       1.00      0.88      0.94      2928

    accuracy                           0.89      3300
   macro avg       0.75      0.93      0.80      3300
weighted avg       0.94      0.89      0.91      3300