In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = "../Data/student.csv"
df = pd.read_csv(dataset,header=0)

In [3]:
df_categorical = df.select_dtypes(exclude=[np.number])
df_categorical

     Gender      Grade Employed
0      Male  1st Class      yes
1    Female  2nd Class       no
2      Male  1st Class       no
3    Female  2nd Class       no
4      Male  1st Class       no
..      ...        ...      ...
227  Female  1st Class       no
228    Male  2nd Class       no
229    Male  3rd Class      yes
230  Female  1st Class      yes
231    Male  3rd Class      yes

[232 rows x 3 columns]

In [4]:
df_categorical['Grade'].unique()

array(['1st Class', '2nd Class', '3rd Class'], dtype=object)

In [5]:
df_categorical['Grade'].value_counts()

3rd Class    80
2nd Class    80
1st Class    72
Name: Grade, dtype: int64

In [6]:
df_categorical['Gender'].value_counts()

Male      136
Female     96
Name: Gender, dtype: int64

In [8]:
df_categorical['Employed'].value_counts()

no     133
yes     99
Name: Employed, dtype: int64

In [9]:
# Hard Coding
df_categorical.Grade.replace({"1st Class":1, "2nd Class":2, "3rd Class":3}, inplace= True)
df_categorical.Gender.replace({"Male":0,"Female":1}, inplace= True)
df_categorical.Employed.replace({"yes":1,"no":0}, inplace = True)

C:\Users\JDhyeok\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [10]:
df_categorical

     Gender  Grade  Employed
0         0      1         1
1         1      2         0
2         0      1         0
3         1      2         0
4         0      1         0
..      ...    ...       ...
227       1      1         0
228       0      2         0
229       0      3         1
230       1      1         1
231       0      3         1

[232 rows x 3 columns]