In [2]:
import pandas as pd

In [38]:
dataset = "../Data/USA_Housing.csv"
df = pd.read_csv(dataset, header= 0)

In [39]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [40]:
df.index

RangeIndex(start=0, stop=5000, step=1)

In [10]:
df.set_index('Address',inplace=True)

In [25]:
df.iloc[0:3, 0:3]

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms
Address,,,
"208 Michael Ferry Apt. 674\r\nLaurabury, NE 37010-5101",79545.458574,5.682861,7.009188
"188 Johnson Views Suite 079\r\nLake Kathleen, CA 48958",79248.642455,6.002900,6.730821
"9127 Elizabeth Stravenue\r\nDanieltown, WI 06482-3489",61287.067179,5.865890,8.512727

In [41]:
df.loc[0:4,["Avg. Area Income", "Avg. Area House Age"]] # index가 defualt 인 숫자로 되어있을 때만 가능

   Avg. Area Income  Avg. Area House Age
0      79545.458574             5.682861
1      79248.642455             6.002900
2      61287.067179             5.865890
3      63345.240046             7.188236
4      59982.197226             5.040555

In [45]:
X = df.drop('Price',axis=1)

In [46]:
X.shape

(5000, 6)

In [47]:
y = df['Price']
y.head(10)

0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
5    1.068138e+06
6    1.502056e+06
7    1.573937e+06
8    7.988695e+05
9    1.545155e+06
Name: Price, dtype: float64