In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("./data/adult-data.csv",
                   names=['age', 'workclass','education-num', 'occupation',
                          'capital-gain', 'capital-loss', 'hoursper-week',
                          'income'])

In [5]:
data.head()

,age,workclass,education-num,occupation,capital-gain,capital-loss,hoursper-week,income
0,39,State-gov,13,Adm-clerical,2174,0,40,<=50K
1,50,Self-emp-not-inc,13,Exec-managerial,0,0,13,<=50K
2,38,Private,9,Handlers-cleaners,0,0,40,<=50K
3,53,Private,7,Handlers-cleaners,0,0,40,<=50K
4,28,Private,13,Prof-specialty,0,0,40,<=50K

In [7]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

data['workclass']= encoder.fit_transform(data['workclass'])
data['occupation']= encoder.fit_transform(data['occupation'])
data['income']= encoder.fit_transform(data['income'])

In [9]:
data.head()

,age,workclass,education-num,occupation,capital-gain,capital-loss,hoursper-week,income
0,39,7,13,1,2174,0,40,0
1,50,6,13,4,0,0,13,0
2,38,4,9,6,0,0,40,0
3,53,4,7,6,0,0,40,0
4,28,4,13,10,0,0,40,0

In [10]:
X = data.copy()
X.drop("income", inplace = True, axis = 1)
Y = data.income

In [11]:
X_train, X_test = X[:int(X.shape[0]*0.8)].values, X[int(X.shape[0]*0.8):].values
Y_train, Y_test = Y[:int(Y.shape[0]*0.8)].values, Y[int(Y.shape[0]*0.8):].values

In [14]:
import xgboost as xgb
from sklearn.metrics import accuracy_score

In [16]:
train = xgb.DMatrix(X_train, label=Y_train)
test = xgb.DMatrix(X_test, label=Y_test)

In [29]:
param = {'max_depth':10, 'eta':0.1, 'silent':1, 'objective':'binary:hinge'}
num_round = 50
model = xgb.train(param, train, num_round)

[20:03:23] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

In [30]:
preds = model.predict(test)

In [31]:
accuracy = accuracy_score(Y[int(Y.shape[0]*0.8):].values, preds)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 84.00%